appdirs==1.4.4
black==25.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
circup==2.3.0
click==8.3.1
coverage==7.12.0
flake8==7.3.0
idna==3.11
iniconfig==2.3.0
mccabe==0.7.0
mpy_cross==1.26.1.post2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.1
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==9.0.1
pytest-cov==7.0.0
pytokens==0.3.0
requests==2.32.5
semver==3.0.4
toml==0.10.2
update-checker==0.18.0
urllib3==2.6.0
